

<!-- Card for today's expenses -->
<div class="bg-slate-100 p-4 shadow-md shadow-green-700 rounded-md min-h-52 min-w-52
grid grid-rows-1
">

  <div class="td-meta-info  ">
    <span class=" text-base font-medium">Today expenses</span>
  </div>
  <div class="flex flex-col justify-center items-center h-24">
    <img class="h-12 w-12" src="assets/today-expenses.png" >
  </div>


  <div class="h-8 w-full bg-emerald-700 rounded-md flex items-center justify-center mt-2">
    <span class="td-date text-stone-50 text-lg">{{ totalTodayExpenses | currency:'Rs .' }}</span>

  </div>



</div>





